.App {
  line-height: 200px;
  height: 200px;
  border: 3px solid green;
  text-align: center;
}

.bar {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  text-align: center;
  line-height: 500px;
  height: 200px;
  text-align: center;
  
}

.pizzaImage {
  width: 30%; margin: 200px auto; border: 2px solid #000000;
  margin-left: 470px;
  
}