<div class="container">
    <div class="row"> 
        <div class="col-sm">
            <h1 class="mt-4">Dashboard</span>
                <p class="lead mb-3">Welcome <%= user.name %></p>
                
                <a href='https://eatsapp-7aa6b.web.app/landing' class="btn btn-primary">Start searching</a>
                <a href="/users/logout" class="btn btn-danger">Logout</a>
            </h1>
        </div>
        
        
    </div>
    <div class="row">
        <div class="col-sm">
            <h3 class="mt-4">Your past choices</h3>
            
            <li>Duff's Chicken wings</li>
            <li>Red Lobster</li>
            <li>Anchor Bar</li>
            <li>Gabriel's Gate</li>
            <li>Giancarlo's</li>
            <li>Oliver's restaurant</li>
            <li>Griddle & Greens</li>
        </div>
    </div>
</div>